In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.DataFrame({
    'Population': [35.467, 63.951, 80.94, 60.665, 127.061, 64.511, 318.523],
    'GDP': [
        1785387,
        2833687,
        3874437,
        2167744,
        4602367,
        2950039,
        17348075   
    ],
    'Surface Area': [
        9984670,
        640679,
        357114,
        301336,
        377930,
        242495,
        9525067
    ],
    'HDI': [
        0.913,
        0.888,
        0.916,
        0.873,
        0.891,
        0.907,
        0.915
    ],
    'Continent': [
        'America',
        'Europe',
        'Europe',
        'Europe',
        'Asia',
        'Europe',
        'America'
    ]
}, columns=['Population', 'GDP', 'Surface Area', 'HDI', 'Continent'])

In [3]:
df

   Population       GDP  Surface Area    HDI Continent
0      35.467   1785387       9984670  0.913   America
1      63.951   2833687        640679  0.888    Europe
2      80.940   3874437        357114  0.916    Europe
3      60.665   2167744        301336  0.873    Europe
4     127.061   4602367        377930  0.891      Asia
5      64.511   2950039        242495  0.907    Europe
6     318.523  17348075       9525067  0.915   America

In [4]:
df.index = [
    'Canada',
    'France',
    'Germany',
    'Italy',
    'Japan',
    'UK',
    'US'
]

In [5]:
df

         Population       GDP  Surface Area    HDI Continent
Canada       35.467   1785387       9984670  0.913   America
France       63.951   2833687        640679  0.888    Europe
Germany      80.940   3874437        357114  0.916    Europe
Italy        60.665   2167744        301336  0.873    Europe
Japan       127.061   4602367        377930  0.891      Asia
UK           64.511   2950039        242495  0.907    Europe
US          318.523  17348075       9525067  0.915   America

In [6]:
df.index

Index(['Canada', 'France', 'Germany', 'Italy', 'Japan', 'UK', 'US'], dtype='object')

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7 entries, Canada to US
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Population    7 non-null      float64
 1   GDP           7 non-null      int64
 2   Surface Area  7 non-null      int64
 3   HDI           7 non-null      float64
 4   Continent     7 non-null      object
dtypes: float64(2), int64(2), object(1)
memory usage: 280.0+ bytes

In [8]:
df.size

35

In [10]:
df.shape

(7, 5)

In [11]:
df.describe()

       Population           GDP  Surface Area       HDI
count    7.000000  7.000000e+00  7.000000e+00  7.000000
mean   107.302571  5.080248e+06  3.061327e+06  0.900429
std     97.249970  5.494020e+06  4.576187e+06  0.016592
min     35.467000  1.785387e+06  2.424950e+05  0.873000
25%     62.308000  2.500716e+06  3.292250e+05  0.889500
50%     64.511000  2.950039e+06  3.779300e+05  0.907000
75%    104.000500  4.238402e+06  5.082873e+06  0.914000
max    318.523000  1.734808e+07  9.984670e+06  0.916000

In [12]:
df.dtypes

Population      float64
GDP               int64
Surface Area      int64
HDI             float64
Continent        object
dtype: object

In [13]:
df.dtypes.value_counts()

float64    2
int64      2
object     1
dtype: int64

In [14]:
# Indexing, Selection and Slicing
df

         Population       GDP  Surface Area    HDI Continent
Canada       35.467   1785387       9984670  0.913   America
France       63.951   2833687        640679  0.888    Europe
Germany      80.940   3874437        357114  0.916    Europe
Italy        60.665   2167744        301336  0.873    Europe
Japan       127.061   4602367        377930  0.891      Asia
UK           64.511   2950039        242495  0.907    Europe
US          318.523  17348075       9525067  0.915   America

In [15]:
df.loc['Canada']

Population       35.467
GDP             1785387
Surface Area    9984670
HDI               0.913
Continent       America
Name: Canada, dtype: object

In [16]:
df.iloc[-1]

Population       318.523
GDP             17348075
Surface Area     9525067
HDI                0.915
Continent        America
Name: US, dtype: object

In [17]:
df['Population']

Canada      35.467
France      63.951
Germany     80.940
Italy       60.665
Japan      127.061
UK          64.511
US         318.523
Name: Population, dtype: float64

In [18]:
df['Population'].to_frame()

         Population
Canada       35.467
France       63.951
Germany      80.940
Italy        60.665
Japan       127.061
UK           64.511
US          318.523

In [19]:
df[['Population', 'GDP']]

         Population       GDP
Canada       35.467   1785387
France       63.951   2833687
Germany      80.940   3874437
Italy        60.665   2167744
Japan       127.061   4602367
UK           64.511   2950039
US          318.523  17348075

In [20]:
df[1:3]

         Population      GDP  Surface Area    HDI Continent
France       63.951  2833687        640679  0.888    Europe
Germany      80.940  3874437        357114  0.916    Europe

In [21]:
df.loc['Italy']

Population       60.665
GDP             2167744
Surface Area     301336
HDI               0.873
Continent        Europe
Name: Italy, dtype: object

In [22]:
df.loc['France': 'Italy']

         Population      GDP  Surface Area    HDI Continent
France       63.951  2833687        640679  0.888    Europe
Germany      80.940  3874437        357114  0.916    Europe
Italy        60.665  2167744        301336  0.873    Europe

In [24]:
df.loc['France': 'Italy', 'Population']

France     63.951
Germany    80.940
Italy      60.665
Name: Population, dtype: float64

In [25]:
df.loc['France': 'Italy', 'Population'].to_frame()

         Population
France       63.951
Germany      80.940
Italy        60.665

In [26]:
df.loc['France': 'Italy', ['Population', 'GDP']]

         Population      GDP
France       63.951  2833687
Germany      80.940  3874437
Italy        60.665  2167744

In [29]:
df

         Population       GDP  Surface Area    HDI Continent
Canada       35.467   1785387       9984670  0.913   America
France       63.951   2833687        640679  0.888    Europe
Germany      80.940   3874437        357114  0.916    Europe
Italy        60.665   2167744        301336  0.873    Europe
Japan       127.061   4602367        377930  0.891      Asia
UK           64.511   2950039        242495  0.907    Europe
US          318.523  17348075       9525067  0.915   America

In [30]:
df.iloc[0]

Population       35.467
GDP             1785387
Surface Area    9984670
HDI               0.913
Continent       America
Name: Canada, dtype: object

In [31]:
df.iloc[0].to_frame()

               Canada
Population     35.467
GDP           1785387
Surface Area  9984670
HDI             0.913
Continent     America

In [32]:
df.iloc[-1]

Population       318.523
GDP             17348075
Surface Area     9525067
HDI                0.915
Continent        America
Name: US, dtype: object

In [33]:
df.iloc[[0, 1, -1]]

        Population       GDP  Surface Area    HDI Continent
Canada      35.467   1785387       9984670  0.913   America
France      63.951   2833687        640679  0.888    Europe
US         318.523  17348075       9525067  0.915   America

In [34]:
df.iloc[1:3]

         Population      GDP  Surface Area    HDI Continent
France       63.951  2833687        640679  0.888    Europe
Germany      80.940  3874437        357114  0.916    Europe

In [35]:
df.iloc[1:3, 3]

France     0.888
Germany    0.916
Name: HDI, dtype: float64

In [36]:
df.iloc[1:3, 3].to_frame()

           HDI
France   0.888
Germany  0.916

In [37]:
df.iloc[1:3, [0,3]]

         Population    HDI
France       63.951  0.888
Germany      80.940  0.916

In [38]:
df.iloc[1:3, 1:3]

             GDP  Surface Area
France   2833687        640679
Germany  3874437        357114

In [ ]:
# Conditional selection (boolean arrays)

In [39]:
df

         Population       GDP  Surface Area    HDI Continent
Canada       35.467   1785387       9984670  0.913   America
France       63.951   2833687        640679  0.888    Europe
Germany      80.940   3874437        357114  0.916    Europe
Italy        60.665   2167744        301336  0.873    Europe
Japan       127.061   4602367        377930  0.891      Asia
UK           64.511   2950039        242495  0.907    Europe
US          318.523  17348075       9525067  0.915   America

In [40]:
df['Population'] > 70

Canada     False
France     False
Germany     True
Italy      False
Japan       True
UK         False
US          True
Name: Population, dtype: bool

In [44]:
(df['Population'] > 70).to_frame()

         Population
Canada        False
France        False
Germany        True
Italy         False
Japan          True
UK            False
US             True

In [45]:
df.loc[df['Population'] > 70]

         Population       GDP  Surface Area    HDI Continent
Germany      80.940   3874437        357114  0.916    Europe
Japan       127.061   4602367        377930  0.891      Asia
US          318.523  17348075       9525067  0.915   America

In [46]:
df.loc[df['Population'] > 70, 'Population']

Germany     80.940
Japan      127.061
US         318.523
Name: Population, dtype: float64

In [48]:
df.loc[df['Population'] > 70, 'Population'].to_frame()

         Population
Germany      80.940
Japan       127.061
US          318.523

In [49]:
df.loc[df['Population'] > 70, ['Population', 'GDP']]

         Population       GDP
Germany      80.940   3874437
Japan       127.061   4602367
US          318.523  17348075

In [50]:
# Dropping Stuff
df.drop('Canada')

         Population       GDP  Surface Area    HDI Continent
France       63.951   2833687        640679  0.888    Europe
Germany      80.940   3874437        357114  0.916    Europe
Italy        60.665   2167744        301336  0.873    Europe
Japan       127.061   4602367        377930  0.891      Asia
UK           64.511   2950039        242495  0.907    Europe
US          318.523  17348075       9525067  0.915   America

In [53]:
df.drop(['Canada', 'Japan'])

         Population       GDP  Surface Area    HDI Continent
France       63.951   2833687        640679  0.888    Europe
Germany      80.940   3874437        357114  0.916    Europe
Italy        60.665   2167744        301336  0.873    Europe
UK           64.511   2950039        242495  0.907    Europe
US          318.523  17348075       9525067  0.915   America

In [54]:
df.drop(columns=['Population', 'HDI'])

              GDP  Surface Area Continent
Canada    1785387       9984670   America
France    2833687        640679    Europe
Germany   3874437        357114    Europe
Italy     2167744        301336    Europe
Japan     4602367        377930      Asia
UK        2950039        242495    Europe
US       17348075       9525067   America

In [56]:
df

         Population       GDP  Surface Area    HDI Continent
Canada       35.467   1785387       9984670  0.913   America
France       63.951   2833687        640679  0.888    Europe
Germany      80.940   3874437        357114  0.916    Europe
Italy        60.665   2167744        301336  0.873    Europe
Japan       127.061   4602367        377930  0.891      Asia
UK           64.511   2950039        242495  0.907    Europe
US          318.523  17348075       9525067  0.915   America

In [57]:
df.drop(['Italy', 'Canada'], axis=0)

         Population       GDP  Surface Area    HDI Continent
France       63.951   2833687        640679  0.888    Europe
Germany      80.940   3874437        357114  0.916    Europe
Japan       127.061   4602367        377930  0.891      Asia
UK           64.511   2950039        242495  0.907    Europe
US          318.523  17348075       9525067  0.915   America

In [59]:
df.drop(['Population', 'HDI'], axis=1)

              GDP  Surface Area Continent
Canada    1785387       9984670   America
France    2833687        640679    Europe
Germany   3874437        357114    Europe
Italy     2167744        301336    Europe
Japan     4602367        377930      Asia
UK        2950039        242495    Europe
US       17348075       9525067   America

In [60]:
df.drop(['Population', 'HDI'], axis='columns')

              GDP  Surface Area Continent
Canada    1785387       9984670   America
France    2833687        640679    Europe
Germany   3874437        357114    Europe
Italy     2167744        301336    Europe
Japan     4602367        377930      Asia
UK        2950039        242495    Europe
US       17348075       9525067   America

In [61]:
df.drop(['Canada', 'Germany'], axis='rows')

        Population       GDP  Surface Area    HDI Continent
France      63.951   2833687        640679  0.888    Europe
Italy       60.665   2167744        301336  0.873    Europe
Japan      127.061   4602367        377930  0.891      Asia
UK          64.511   2950039        242495  0.907    Europe
US         318.523  17348075       9525067  0.915   America

In [ ]:
# Operations

In [62]:
df[['Population', 'GDP']]

         Population       GDP
Canada       35.467   1785387
France       63.951   2833687
Germany      80.940   3874437
Italy        60.665   2167744
Japan       127.061   4602367
UK           64.511   2950039
US          318.523  17348075

In [63]:
df[['Population', 'GDP']] / 100

         Population        GDP
Canada      0.35467   17853.87
France      0.63951   28336.87
Germany     0.80940   38744.37
Italy       0.60665   21677.44
Japan       1.27061   46023.67
UK          0.64511   29500.39
US          3.18523  173480.75

In [65]:
crisis = pd.Series([-1_000_000, -0.3], index=['GDP', 'HDI'])
crisis

GDP   -1000000.0
HDI         -0.3
dtype: float64

In [66]:
df[['GDP', 'HDI']]

              GDP    HDI
Canada    1785387  0.913
France    2833687  0.888
Germany   3874437  0.916
Italy     2167744  0.873
Japan     4602367  0.891
UK        2950039  0.907
US       17348075  0.915

In [67]:
df[['GDP', 'HDI']] + crisis

                GDP    HDI
Canada     785387.0  0.613
France    1833687.0  0.588
Germany   2874437.0  0.616
Italy     1167744.0  0.573
Japan     3602367.0  0.591
UK        1950039.0  0.607
US       16348075.0  0.615

In [ ]:
# Modifying DataFrames